<section class="page">
    <div class="config">
        <h1 class="title">
            <mat-icon svgIcon="icon-fire"></mat-icon>
            Config Noti
            <mat-icon svgIcon="icon-fire"></mat-icon>
            Toast
            <mat-icon svgIcon="icon-fire"></mat-icon>
        </h1>

        <form
            [formGroup]="snotifireForm"
            novalidate
        >
            <div class="data">
                <div
                    class="data__toast"
                    formGroupName="toastData"
                >
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input
                            matInput
                            placeholder="Title"
                            formControlName="title"
                        >
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Body</mat-label>
                        <input
                            matInput
                            placeholder="Body"
                            formControlName="body"
                        >
                    </mat-form-field>
                </div>
                <mat-divider></mat-divider>
                <div
                    class="functional-config"
                    formGroupName="toastFunctionalConfig"
                >
                    <div class="functional-config__length">
                        <mat-form-field appearance="outline">
                            <mat-label>Title Max Length</mat-label>
                            <input
                                matInput
                                placeholder="Max length of the displayed title"
                                formControlName="titleMaxLength"
                                type="number"
                            >
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Body Max Length</mat-label>
                            <input
                                matInput
                                placeholder="Max length of the displayed body notification"
                                formControlName="boydMaxLength"
                                type="number"
                            >
                        </mat-form-field>
                    </div>
                    <div class="functional-config__ui">
                        <mat-form-field appearance="outline">
                            <mat-label>Timeout</mat-label>
                            <input
                                matInput
                                placeholder="Time before the notification expires"
                                formControlName="timeout"
                                type="number"
                            >
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Backdrop</mat-label>
                            <input
                                matInput
                                placeholder="Shadow opacity when notiifcation is shown"
                                formControlName="backdrop"
                                type="number"
                            >
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="snotifire-position">
                    <mat-form-field
                        appearance="outline"
                        *ngIf="positionFormControl"
                    >
                        <mat-label>Select Notification Position</mat-label>
                        <mat-select
                            [formControl]="positionFormControl"
                            name="position"
                        >
                            <mat-option
                                *ngFor="let position  of positions"
                                [value]="position"
                            >
                                {{position}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div
                    class="config__booleans"
                    formGroupName="toastVisualConfig"
                >
                    <mat-slide-toggle formControlName="isShowProgressBar">Show Progress Bar</mat-slide-toggle>
                    <mat-slide-toggle formControlName="isCloseOnClick">Close on click</mat-slide-toggle>
                    <mat-slide-toggle formControlName="isPauseOnHover">Pause on hover</mat-slide-toggle>
                    <mat-slide-toggle formControlName="isNewItemsOnTop">New items on top</mat-slide-toggle>
                    <mat-slide-toggle formControlName="isFilterDuplicates">Filter duplicates</mat-slide-toggle>

                </div>

                <mat-divider></mat-divider>
                <div
                    class="inputs__max"
                    formGroupName="notificationConf"
                >
                    <mat-form-field appearance="outline">
                        <mat-label>Max number of Toastrs on Screen</mat-label>
                        <input
                            matInput
                            placeholder="Max number of toastrs on screen"
                            formControlName="maxOnScreen"
                            type="number"
                        >
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Max number of Toastrs per Position</mat-label>
                        <input
                            matInput
                            placeholder="Max number of toastrs per Position"
                            formControlName="maxAtPosition"
                            type="number"
                        >
                    </mat-form-field>

                </div>

                <mat-form-field
                    appearance="outline"
                    *ngIf="themeControl"
                >
                    <mat-label>Select theme</mat-label>
                    <mat-select
                        [formControl]="themeControl"
                        name="toastStyle"
                    >
                        <mat-option
                            *ngFor="let theme of themes"
                            [value]="theme"
                        >
                            {{theme}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </form>
    </div>
    <div class="buttons">
        <div class="buttons__classic">
            <button
                mat-raised-button
                color="primary"
                (click)="onSuccess()"
            >
                Success
            </button>
            <button
                mat-raised-button
                color="info"
                (click)="onInfo()"
            >
                Info
            </button>
            <button
                mat-raised-button
                color="warn"
                (click)="onError()"
            >
                Error
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="onWarning()"
            >
                Warning
            </button>
        </div>
        <div class="buttons__special">

            <button
                mat-raised-button
                color="info"
                (click)="onAsyncLoading()"
            >
                Async
            </button>
            <button
                mat-raised-button
                color="warn"
                (click)="onConfirmation()"
            >
                Confirm
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="onPrompt()"
            >
                Prompt
            </button>
        </div>
        <div class="buttons__html">
            <button
                mat-raised-button
                color="primary"
                (click)="onHtml()"
            >
                HTML
            </button>
        </div>
        <div class="buttons__clear-all">
            <button
                mat-raised-button
                color="primary"
                (click)="onClear()"
            >
                Clear all
            </button>
        </div>
    </div>
</section>
<ngx-snotifire class="{{ snotifireForm.getRawValue().toastStyle }}"></ngx-snotifire>
<footer>

    <a
        href="documentation/index.html"
        target="_blank"
    >
        Documentation
    </a>

    <a
        href="compodoc/index.html"
        target="_blank"
    >
        Compodoc
    </a>

    <a
        href="https://github.com/ccpatrut/ngx-snotifire"
        target="_blank"
    >
        GitHub
    </a>

    <a
        href="https://www.npmjs.com/package/ngx-snotifire"
        target="_blank"
    >
        NPM
    </a>
    <h6>
        Apache 2.0 &copy;
        <a href="https://github.com/ccpatrut/">ccpatrut</a>
    </h6>
</footer>
