name: Node.js CI

on: [push]
run-name: build

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm install
      - run: npm run-script lib:build:prod
      - run: npm run-script build
      - run: npm run-script test
      - run: npm install gitbook-cli@2.1.2  -g
      - run: npm run-script compodoc:build
     # - run: npm run-script docs:build